<nav class="navbar">
    <div class="brand" [routerLink]="['/']">

            <img src="../../../assets/images/Logo.svg" alt="WGuides Logo">
            <h2>WGuides</h2>

    </div>
    <div class="nav-links">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/guide']">Guides</a></li>
            <li><a [routerLink]="['/about']">About</a></li>
            <li><a [routerLink]="['/news']">News</a></li>
            <li><a [routerLink]="['/donate']">Donate ☕</a></li>
        </ul>
    </div>
</nav>