<div class="card mb-2">
    <h2 class="card-title">Consumables</h2>
    <p>
        Consumables are very important to temporarily increase our stats, it is highly recommended to use them in Raid groups, however, if you want to use them in Dungeons, keep in mind that they can be somewhat expensive to Farm. Below you will see the consumable items to improve the stats of your class:
    </p>
    <div class="table-responsive">
        <table>
            <tr>
                <th>Consumable</th>
                <th>How or when to use it?</th>
            </tr>
            <tr>
                <td>
                    <a href="https://cata.cavernoftime.com/item=62671" class="item-icon link" target="_blank">
                        <img src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_food_160_fish_87.jpg" class="border-white" alt="Severed Sagefish Head">
                        <span>Severed Sagefish Head</span>
                    </a>
                </td>
                <td>
                    <p>
                        The Severed Sagefish Head is the quintessential food for our class, as it grants us 90 intellect points for one hour as long as we do not die. The effect should be taken whenever we go to a Raid to increase our damage.
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://cata.cavernoftime.com/item=62290" class="item-icon link" target="_blank">
                        <img src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_food_meat_cooked_02.jpg" class="border-white" alt="Seafood Magnifique Feast">
                        <span>Seafood Magnifique Feast</span>
                    </a>
                </td>
                <td>
                    <p>
                        This is another type of food that will help us to obtain 90 points of intellect, however, I recommend the first option more because of the ease of obtaining the fish for its manufacture.
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://cata.cavernoftime.com/item=62649" class="item-icon link" target="_blank">
                        <img src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_fortunecookie.jpg" class="border-white" alt="Fortune Cookie">
                        <span>Fortune Cookie</span>
                    </a>
                </td>
                <td>
                    These fortune cookies are another alternative, although I don't recommend their harvesting because we won't always get the benefit we are looking for.
                </td>
            </tr>
        </table>
    </div>
</div>
