<div class="card">
    <h2 class="card-title">Consumables</h2>
    <p>
        Consumables are very important to temporarily increase our stats, it is highly recommended to use them in Raid
        groups, however, if you want to use them in Dungeons, keep in mind that they can be somewhat expensive to Farm.
        Below you will see the consumable items to improve the stats of your class:
    </p>
    <div class="flex-row mb-5" *ngFor="let item of data">
        <a href={{item.link}} class="item-icon link min-w-3" target="_blank">
            <img src={{item.source_image}} class="border-white"
                alt={{item.name}}>
            <span>{{item.name}}</span>
        </a>
        <p>
            {{item.description_use}}
        </p>
    </div>
</div>