<section class="card">
    <h2 class="card-title">Enchants</h2>
    <p>
        In this section we will see which are the enchantments or improvements that we can make to our equipment with the professions (enchantment, tailoring, jewelry, blacksmithing, leatherworking and engineering).
    </p>
    <div>
        <div class="table-responsive">
            <table>
                <tr>
                    <th>Slot</th>
                    <th>Popular</th>
                    <th>Professions</th>
                    <th>Other</th>
                </tr>
                <!-- HEAD -->
                <tr>
                    <td class="td-bg">
                        <div class="slot-header">
                            <img src="../../../assets/images/inventoryslot_head.jpg" class="slot-icon" alt="Head slot">
                            <h2 class="card-subtitle-2">Head</h2>
                        </div>
                    </td>
                    <td>
                        <a href="https://cata.cavernoftime.com/item=62367" class="item-icon link" target="_blank">
                            <img src="https://cdn.cavernoftime.com/cata/icons/large/spell_fire_masterofelements.jpg" class="border-yellow" alt="Arcanum of Hyjal">
                            <span>Arcanum of Hyjal</span>
                        </a>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <!-- SHOULDERS -->
                <tr>
                    <td class="td-bg">
                        <div class="slot-header">
                            <img src="../../../assets/images/inventoryslot_shoulder.jpg" class="slot-icon" alt="Shoulders slot">
                            <h2 class="card-subtitle-2">Shoulders</h2>
                        </div>
                    </td>
                    <td>
                        <a href="https://cata.cavernoftime.com/item=62343" class="item-icon link" target="_blank">
                            <img src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_gem_bloodstone_02.jpg" class="border-purple" alt="Greater Inscription of Charged Lodestone">
                            <span>Greater Inscription of Charged Lodestone</span>
                        </a>
                    </td>
                    <td>
                        <a href="https://cata.cavernoftime.com/spell=86403" class="item-icon link" target="_blank">
                            <img src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_mastersinscription.jpg" class="border-white" alt="Felfire Inscription">
                            <span>Felfire Inscription</span>
                        </a>
                    </td>
                    <td></td>
                </tr>
                <!-- BACK -->
                <tr>
                    <td class="td-bg">
                        <div class="slot-header">
                            <img src="../../../assets/images/inventoryslot_chest.jpg" class="slot-icon" alt="Back slot">
                            <h2 class="card-subtitle-2">Back</h2>
                        </div>
                    </td>
                    <td>
                        <a href="https://cata.cavernoftime.com/item=52773" class="item-icon link" target="_blank">
                            <img src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_enchantedscroll.jpg" class="border-white" alt="Enchant Cloak - Greater Intellect">
                            <span>Enchant Cloak - Greater Intellect</span>
                        </a>
                    </td>
                    <td>
                        <a href="https://cata.cavernoftime.com/spell=75172" class="item-icon link" target="_blank">
                            <img src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_thread_01.jpg" class="border-white" alt="Lightweave Embroidery">
                            <span>Lightweave Embroidery</span>
                        </a>
                    </td>
                    <td></td>
                </tr>
                <!-- CHEST -->
                <tr>
                    <td class="td-bg">
                        <div class="slot-header">
                            <img src="../../../assets/images/inventoryslot_chest.jpg" class="slot-icon" alt="Chest slot">
                            <h2 class="card-subtitle-2">Chest</h2>
                        </div>
                    </td>
                    <td>
                        <a href="https://cata.cavernoftime.com/item=52779" class="item-icon link" target="_blank">
                            <img src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_enchantedscroll.jpg" class="border-white" alt="Enchant Chest - Peerless Stats">
                            <span>Enchant Chest - Peerless Stats</span>
                        </a>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <!-- WRISTS -->
                <tr>
                    <td class="td-bg">
                        <div class="slot-header">
                            <img src="../../../assets/images/inventoryslot_wrists.jpg" class="slot-icon" alt="Wrists slot">
                            <h2 class="card-subtitle-2">Wrists</h2>
                        </div>
                    </td>
                    <td>
                        <a href="https://cata.cavernoftime.com/item=68786" class="item-icon link" target="_blank">
                            <img src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_enchantedscroll.jpg" class="border-blue" alt="Enchant Bracer - Mighty Intellect">
                            <span>Enchant Bracer - Mighty Intellect</span>
                        </a>
                    </td>
                    <td>
                        <a href="https://cata.cavernoftime.com/spell=85010" class="item-icon link mb-4" target="_blank">
                            <img src="https://cdn.cavernoftime.com/cata/icons/large/trade_leatherworking.jpg" class="border-white" alt="Draconic Embossment - Intellect">
                            <span>Draconic Embossment - Intellect</span>
                        </a>
                        <a href="https://cata.cavernoftime.com/spell=55628" class="item-icon link" target="_blank">
                            <img src="https://cdn.cavernoftime.com/cata/icons/large/item_socketedbracer.jpg" class="border-white" alt="Socket Bracer">
                            <span>Socket Bracer</span>
                        </a>
                    </td>
                    <td>
                        <a href="https://cata.cavernoftime.com/item=52766" class="item-icon link" target="_blank">
                            <img src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_enchantedscroll.jpg" class="border-white" alt="Enchant Bracer - Precision">
                            <span>Enchant Bracer - Precision</span>
                        </a>
                    </td>
                </tr>
                <!-- HANDS -->
                <tr>
                    <td class="td-bg">
                        <div class="slot-header">
                            <img src="../../../assets/images/inventoryslot_hands.jpg" class="slot-icon" alt="Hands slot">
                            <h2 class="card-subtitle-2">Hands</h2>
                        </div>
                    </td>
                    <td>
                        <a href="https://cata.cavernoftime.com/item=52749" class="item-icon link" target="_blank">
                            <img src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_enchantedscroll.jpg" class="border-white" alt="Enchant Gloves - Haste">
                            <span>Enchant Gloves - Haste</span>
                        </a>
                    </td>
                    <td>
                        <a href="https://cata.cavernoftime.com/spell=82175" class="item-icon link mb-4" target="_blank">
                            <img src="https://cdn.cavernoftime.com/cata/icons/large/trade_engineering.jpg" class="border-white" alt="Synapse Springs">
                            <span>Synapse Springs</span>
                        </a>
                        <a href="https://cata.cavernoftime.com/spell=55641" class="item-icon link" target="_blank">
                            <img src="https://cdn.cavernoftime.com/cata/icons/large/inv_gauntlets_61.jpg" class="border-white" alt="Socket Gloves">
                            <span>Socket Gloves</span>
                        </a>
                    </td>
                    <td>
                        <a href="https://cata.cavernoftime.com/item=52784" class="item-icon link" target="_blank">
                            <img src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_enchantedscroll.jpg" class="border-white" alt="Enchant Gloves - Greater Mastery">
                            <span>Enchant Gloves - Greater Mastery</span>
                        </a>
                    </td>
                </tr>
                <!-- WAIST -->
                <tr>
                    <td class="td-bg">
                        <div class="slot-header">
                            <img src="../../../assets/images/inventoryslot_waist.jpg" class="slot-icon" alt="Waist slot">
                            <h2 class="card-subtitle-2">Waist</h2>
                        </div>
                    </td>
                    <td>
                        <a href="https://cata.cavernoftime.com/item=55054" class="item-icon link" target="_blank">
                            <img src="https://cdn.cavernoftime.com/cata/icons/large/inv_belt_83.jpg" class="border-blue" alt="Ebonsteel Belt Buckle">
                            <span>Ebonsteel Belt Buckle</span>
                        </a>
                    </td>
                    <td>
                        <a href="https://cata.cavernoftime.com/spell=84427" class="item-icon link" target="_blank">
                            <img src="https://cdn.cavernoftime.com/cata/icons/large/trade_engineering.jpg" class="border-white" alt="Grounded Plasma Shield">
                            <span>Grounded Plasma Shield</span>
                        </a>
                    </td>
                </tr>
                <!-- LEGS -->
                <tr>
                    <td class="td-bg">
                        <div class="slot-header">
                            <img src="../../../assets/images/inventoryslot_legs.jpg" class="slot-icon" alt="Legs slot">
                            <h2 class="card-subtitle-2">Legs</h2>
                        </div>
                    </td>
                    <td>
                        <a href="https://cata.cavernoftime.com/item=54448" class="item-icon link" target="_blank">
                            <img src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_thread_eternium.jpg" class="border-purple" alt="Powerful Enchanted Spellthread">
                            <span>Powerful Enchanted Spellthread</span>
                        </a>
                    </td>
                    <td>
                        <a href="https://cata.cavernoftime.com/spell=75154" class="item-icon link" target="_blank">
                            <img src="https://cdn.cavernoftime.com/cata/icons/large/spell_nature_astralrecalgroup.jpg" class="border-white" alt="Master's Spellthread">
                            <span>Master's Spellthread</span>
                        </a>
                    </td>
                </tr>
                <!-- FEET -->
                <tr>
                    <td class="td-bg">
                        <div class="slot-header">
                            <img src="../../../assets/images/inventoryslot_feet.jpg" class="slot-icon" alt="Feet slot">
                            <h2 class="card-subtitle-2">Feet</h2>
                        </div>
                    </td>
                    <td>
                        <a href="https://cata.cavernoftime.com/item=52782" class="item-icon link" target="_blank">
                            <img src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_enchantedscroll.jpg" class="border-white" alt="Enchant Boots - Lavawalker">
                            <span>Enchant Boots - Lavawalker</span>
                        </a>
                    </td>
                    <td></td>
                    <td>
                        <a href="https://cata.cavernoftime.com/item=52750" class="item-icon link mb-4" target="_blank">
                            <img src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_enchantedscroll.jpg" class="border-white" alt="Enchant Boots - Haste">
                            <span>Enchant Boots - Haste</span>
                        </a>
                        <a href="https://cata.cavernoftime.com/item=52769" class="item-icon link" target="_blank">
                            <img src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_enchantedscroll.jpg" class="border-white" alt="Enchant Boots - Precision">
                            <span>Enchant Boots - Precision</span>
                        </a>
                    </td>
                </tr>
                <!-- RING -->
                <tr>
                    <td class="td-bg">
                        <div class="slot-header">
                            <img src="../../../assets/images/inventoryslot_finger.jpg" class="slot-icon" alt="Ring slot">
                            <h2 class="card-subtitle-2">Ring</h2>
                        </div>
                    </td>
                    <td></td>
                    <td>
                        <a href="https://cata.cavernoftime.com/spell=74217" class="item-icon link" target="_blank">
                            <img src="https://cdn.cavernoftime.com/cata/icons/large/trade_engraving.jpg" class="border-white" alt="Enchant Ring - Intellect">
                            <span>Enchant Ring - Intellect</span>
                        </a>
                    </td>
                </tr>
                <!-- WEAPON -->
                <tr>
                    <td class="td-bg">
                        <div class="slot-header">
                            <img src="../../../assets/images/inventoryslot_mainhand.jpg" class="slot-icon" alt="Weapon slot">
                            <h2 class="card-subtitle-2">Weapon</h2>
                        </div>
                    </td>
                    <td>
                        <a href="https://cata.cavernoftime.com/item=52774" class="item-icon link" target="_blank">
                            <img src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_enchantedscroll.jpg" class="border-white" alt="Enchant Weapon - Power Torrent">
                            <span>Enchant Weapon - Power Torrent</span>
                        </a>
                    </td>
                    <td></td>
                    <td>
                        <a href="https://cata.cavernoftime.com/item=52760" class="item-icon link" target="_blank">
                            <img src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_enchantedscroll.jpg" class="border-white" alt="Enchant Weapon - Hurricane">
                            <span>Enchant Weapon - Hurricane</span>
                        </a>
                    </td>
                </tr>
                <!-- OFF-HAND -->
                <tr>
                    <td class="td-bg">
                        <div class="slot-header">
                            <img src="../../../assets/images/inventoryslot_offhand.jpg" class="slot-icon" alt="Off-hand slot">
                            <h2 class="card-subtitle-2">Off-hand</h2>
                        </div>
                    </td>
                    <td>
                        <a href="https://cata.cavernoftime.com/item=52768" class="item-icon link" target="_blank">
                            <img src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_enchantedscroll.jpg" class="border-white" alt="Enchant Off-Hand - Superior Intellect">
                            <span>Enchant Off-Hand - Superior Intellect</span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>
