p{
    font-family: 'Roboto', sans-serif;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.8));
}

.slots{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    .slot-header{
        display: flex;
        align-items: center;
        gap: 1em;
        .slot-icon{
            width: 40px;
            height: 40px;
            background: #28150f;
            border-radius: 5px;
            filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.8));
        }
    }
}

.table-responsive{
    overflow-x: auto;
    padding: .6em;
    background: url('../../../assets/images/scenes/pane_dirtLight.jpg');
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.3s ease-in-out;
    &:hover{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
}

table, td, th {
    border: 2px solid #1e1e1e;
    padding: 0.5em;
    border-collapse: collapse;
}
th{
    font-family: 'Cinzel', serif;
    font-size: 1.5em;
    font-weight: 900;
    color: #FFD100;
    background-color: #28150f;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.8));
}
.td-bg{
    background-color: #28150f;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.8));
}