.statistics{
    margin-bottom: 1em;
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Cinzel', serif;
    font-size: 14px;
    font-weight: 700;
    color: #b62d2e;
    transition: all 0.3s ease-in-out;
    span{
        color: #FFD100;
    }
}