<div class="flex-column flex-center mb-3">
    <h2>Statistics</h2>
    <div class="flex-row wrap flex-center separator-items">
        <div tooltip="Intellect" placement="top" [textColor]="textColor" [backgroundColor]="backgroundColor">
            <img src="../../../assets/images/states/intellect.svg" class="thumbnail" alt="Intellect state">
        </div>
        <i class="bi bi-chevron-right"></i>
        <div tooltip="Hit Rating (17%)" placement="top" [textColor]="textColor" [backgroundColor]="backgroundColor">
            <img src="../../../assets/images/states/hit.svg" class="thumbnail" alt="Hit state">
        </div>
        <i class="bi bi-chevron-right"></i>
        <div tooltip="Haste Rating" placement="top" [textColor]="textColor" [backgroundColor]="backgroundColor">
            <img src="../../../assets/images/states/haste.svg" class="thumbnail" alt="Haste state">
        </div>
        <i class="bi bi-chevron-right"></i>
        <div tooltip="Critical Rating" placement="top" [textColor]="textColor" [backgroundColor]="backgroundColor">
            <img src="../../../assets/images/states/critical.svg" class="thumbnail" alt="Critical state">
        </div>
        <i class="bi bi-chevron-right"></i>
        <div tooltip="Mastery Rating" placement="top" [textColor]="textColor" [backgroundColor]="backgroundColor">
            <img src="../../../assets/images/states/mastery.svg" class="thumbnail" alt="Mastery state">
        </div>
    </div>
    <a class="button-text-after" href="https://onedrive.live.com/download?cid=103C68782420FE96&resid=103C68782420FE96%2115189&authkey=ANwX5BS4IoKhZwE" download>
        <span class="text">Addon to reforge</span>
        <span>
            Download file <i class="bi bi-cloud-download-fill"></i>
        </span>
    </a>
</div>