<div class="card">
    <header>
        <h2 class="card-title">Gems</h2>
        <div class="line"></div>
    </header>
    <article class="card-content">
        <p>
            Gems are a very important factor when it comes to increasing our stats, especially when we want to improve a
            specific attribute.
        </p>

        <h2 class="card-subtitle-2">Meta Gem</h2>
        <div class="mw-5 mb-3">
            <a href="https://cata.cavernoftime.com/item=68780" class="item-icon link" target="_blank">
                <img src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_metagem_b.jpg" class="border-purple"
                    alt="Burning Shadowspirit Diamond">
                <span>Burning Shadowspirit Diamond</span>
            </a>
        </div>
        <div class="flex-row">
            <img src="../../../assets/images/icons/socket-red.jpg" alt="Socket Red">
            <h2 class="card-subtitle-2">Red and Orange</h2>
        </div>
        <div class="flex-row wrap">
            <a href="https://cata.cavernoftime.com/item=52257" class="item-icon link w-3" target="_blank">
                <img src="http://cdn.cavernoftime.com/cata/icons/large/inv_jewelcrafting_dragonseye05.jpg"
                    class="border-purple" alt="Brilliant Chimera's Eye">
                <span>Brilliant Chimera's Eye</span>
            </a>
            <a href="https://cata.cavernoftime.com/item=69922" class="item-icon link w-3" target="_blank">
                <img src="http://cdn.cavernoftime.com/cata/icons/large/inv_jewelcrafting_dragonseye05.jpg"
                    class="border-purple" alt="Brilliant Blazejewel">
                <span>Brilliant Blazejewel</span>
            </a>
            <a href="https://cata.cavernoftime.com/item=52207" class="item-icon link w-3" target="_blank">
                <img src="http://cdn.cavernoftime.com/cata/icons/large/inv_misc_cutgemsuperior6.jpg" class="border-blue"
                    alt="Brilliant Inferno Ruby">
                <span>Brilliant Inferno Ruby</span>
            </a>
            <a href="https://cata.cavernoftime.com/item=71850" class="item-icon link w-3" target="_blank">
                <img src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_epicgem_04.jpg" class="border-purple"
                    alt="Reckless Lava Coral">
                <span>Reckless Lava Coral</span>
            </a>
        </div>
        <div class="flex-row">
            <img src="../../../assets/images/icons/socket-blue.jpg" alt="Socket blue">
            <h2 class="card-subtitle-2">Blue and Purple</h2>
        </div>
        <div class="flex-row wrap">
            <a href="https://cata.cavernoftime.com/item=71864" class="item-icon link w-3" target="_blank">
                <img src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_epicgem_05.jpg" class="border-purple"
                    alt="Veiled Shadow Spinel">
                <span>Veiled Shadow Spinel</span>
            </a>
            <a href="https://cata.cavernoftime.com/item=52217" class="item-icon link w-3" target="_blank">
                <img src="http://cdn.cavernoftime.com/cata/icons/large/inv_misc_cutgemsuperior3.jpg" class="border-blue"
                    alt="Veiled Demonseye">
                <span>Veiled Demonseye</span>
            </a>
            <a href="https://cata.cavernoftime.com/item=52246" class="item-icon link w-3" target="_blank">
                <img src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_cutgemsuperior2.jpg"
                    class="border-blue" alt="Stormy Ocean Sapphire">
                <span>Stormy Ocean Sapphire</span>
            </a>
        </div>
        <div class="flex-row">
            <img src="../../../assets/images/icons/socket-yellow.jpg" alt="Socket yellow">
            <h2 class="card-subtitle-2">Yellow and Green</h2>
        </div>
        <div class="flex-row wrap">
            <a href="https://cata.cavernoftime.com/item=52268" class="item-icon link w-3" target="_blank">
                <img src="https://cdn.cavernoftime.com/cata/icons/large/inv_jewelcrafting_dragonseye03.jpg"
                    class="border-purple" alt="Quick Chimera's Eye">
                <span>Quick Chimera's Eye</span>
            </a>
            <a href="https://cata.cavernoftime.com/item=71876" class="item-icon link w-3" target="_blank">
                <img src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_epicgem_03.jpg" class="border-purple"
                    alt="Quick Lightstone">
                <span>Quick Lightstone</span>
            </a>
            <a href="https://cata.cavernoftime.com/item=52232" class="item-icon link w-3" target="_blank">
                <img src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_cutgemsuperior.jpg" class="border-blue"
                    alt="Quick Amberjewel">
                <span>Quick Amberjewel</span>
            </a>
            <a href="https://cata.cavernoftime.com/item=71824" class="item-icon link w-3" target="_blank">
                <img src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_epicgem_06.jpg" class="border-purple"
                    alt="Lightning Elven Peridot">
                <span>Lightning Elven Peridot</span>
            </a>
        </div>
    </article>
</div>