<app-navbar></app-navbar>
<h1 class="title">PVE Destruction Warlock Guide</h1>
<section class="container">
    <div style="display: flex;flex-direction: column;gap: 2em;">
        <app-introduction-guide></app-introduction-guide>
        <app-gems></app-gems>
    </div>
    <app-armorer></app-armorer>
</section>
<section class="container" style="flex-direction: column;">
    <app-talents></app-talents>
    <app-consumables></app-consumables>
    <app-enchants></app-enchants>
</section>

<app-footer></app-footer>

<router-outlet></router-outlet>
