<main class="container card">
    <div class="content">
        <div class="left-items">
            <div class="item" style="background-image: url('../../../assets/images/inventoryslot_head.jpg')">
                <a href="https://cata.cavernoftime.com/item=78702" target="_blank">
                    <img class="border-purple" src="https://cdn.cavernoftime.com/cata/icons/large/inv_helmet_robe_raidwarlock_k_01.jpg" alt="Hood of the Faceless Shroud">
                </a>
            </div>
            <div class="item" style="background-image: url('../../../assets/images/inventoryslot_neck.jpg');">
                <a href="https://cata.cavernoftime.com/item=71472" target="_blank">
                    <img class="border-purple" src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_necklace_firelands_1.jpg" alt="Flowform Choker">
                </a>
            </div>
            <div class="item" style="background-image: url('../../../assets/images/inventoryslot_shoulder.jpg');">
                <a href="https://cata.cavernoftime.com/item=78749" target="_blank">
                    <img class="border-purple" src="https://cdn.cavernoftime.com/cata/icons/large/inv_shoulder_robe_raidwarlock_k_01.jpg" alt="Mantle of the Faceless Shroud">
                </a>
            </div>
            <div class="item" style="background-image: url('../../../assets/images/inventoryslot_chest.jpg');">
                <a href="https://cata.cavernoftime.com/item=77098" target="_blank">
                    <img class="border-purple" src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_cape_deathwingraid_d_03.jpg" alt="Nanoprecise Cape">
                </a>
            </div>
            <div class="item" style="background-image: url('../../../assets/images/inventoryslot_chest.jpg');">
                <a href="https://cata.cavernoftime.com/item=78730" target="_blank">
                    <img class="border-purple" src="https://cdn.cavernoftime.com/cata/icons/large/inv_chest_robe_raidwarlock_k_01.jpg" alt="Robes of the Faceless Shroud">
                </a>
            </div>
            <div class="item" style="background-image: url('../../../assets/images/inventoryslot_shirt.jpg');">
                <a href="https://cata.cavernoftime.com/item=46105" target="_blank">
                    <img class="border-purple" src="http://cdn.cavernoftime.com/cata/icons/large/inv_shirt_red_01.jpg" alt="Shirt of the Future Champion">
                </a>
            </div>
            <div class="item" style="background-image: url('../../../assets/images/inventoryslot_tabard.jpg');">
                <a href="https://cata.cavernoftime.com/item=52252" target="_blank">
                    <img class="border-purple" src="http://cdn.cavernoftime.com/cata/icons/large/inv_shirt_guildtabard_01.jpg" alt="Tabard of the Lightbringer">
                </a>
            </div>
            <div class="item" style="background-image: url('../../../assets/images/inventoryslot_wrists.jpg');">
                <a href="https://cata.cavernoftime.com/item=78417" target="_blank">
                    <img class="border-purple" src="https://cdn.cavernoftime.com/cata/icons/large/inv_bracer_robe_raidwarlock_k_01.jpg" alt="Bracers of the Banished">
                </a>
            </div>
        </div>
        <div class="model">
            <h2 class="card-title">Equipment</h2>
            <model-viewer [attr.id]="0" alt="Class warlock Destruction PVE Nizzy" src="../../../assets/3d-models/warlock.glb" shadow-intensity="1" camera-controls touch-action="pan-y"></model-viewer>
        </div>
        <div class="rigth-items">
            <div class="item" style="background-image: url('../../../assets/images/inventoryslot_hands.jpg');">
                <a href="https://cata.cavernoftime.com/item=78461" target="_blank">
                    <img class="border-purple" src="https://cdn.cavernoftime.com/cata/icons/large/inv_gauntlet_pants_robe_raidpriest_k_01.jpg" alt="Gloves of Liquid Smoke">
                </a>
            </div>
            <div class="item" style="background-image: url('../../../assets/images/inventoryslot_waist.jpg');">
                <a href="https://cata.cavernoftime.com/item=78391" target="_blank">
                    <img class="border-purple" src="https://cdn.cavernoftime.com/cata/icons/large/inv_belt_robe_raidmage_k_01.jpg" alt="Cord of the Slain Champion">
                </a>
            </div>
            <div class="item" style="background-image: url('../../../assets/images/inventoryslot_legs.jpg');">
                <a href="https://cata.cavernoftime.com/item=78721" target="_blank">
                    <img class="border-purple" src="https://cdn.cavernoftime.com/cata/icons/large/inv_pants_robe_raidwarlock_k_01.jpg" alt="Leggings of the Faceless Shroud">
                </a>
            </div>
            <div class="item" style="background-image: url('../../../assets/images/inventoryslot_feet.jpg');">
                <a href="https://cata.cavernoftime.com/item=78449" target="_blank">
                    <img class="border-purple" src="https://cdn.cavernoftime.com/cata/icons/large/inv_boots_robe_raidwarlock_k_01.jpg" alt="Janglespur Jackboots">
                </a>
            </div>
            <div class="item" style="background-image: url('../../../assets/images/inventoryslot_finger.jpg');">
                <a href="https://cata.cavernoftime.com/item=78490" target="_blank">
                    <img class="border-purple" src="https://cdn.cavernoftime.com/cata/icons/large/inv_jewelry_ring_88.jpg" alt="Infinite Loop">
                </a>
            </div>
            <div class="item" style="background-image: url('../../../assets/images/inventoryslot_finger.jpg');">
                <a href="https://cata.cavernoftime.com/item=78419" target="_blank">
                    <img class="border-purple" src="https://cdn.cavernoftime.com/cata/icons/large/inv_jewelry_ring_102.jpg" alt="Ring of the Riven">
                </a>
            </div>
            <div class="item" style="background-image: url('../../../assets/images/inventoryslot_trinket.jpg');">
                <a href="https://cata.cavernoftime.com/item=78000" target="_blank">
                    <img class="border-purple" src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_coin_09.jpg" alt="Cunning of the Cruel">
                </a>
            </div>
            <div class="item" style="background-image: url('../../../assets/images/inventoryslot_trinket.jpg');">
                <a href="https://cata.cavernoftime.com/item=77995" target="_blank">
                    <img class="border-purple" src="https://cdn.cavernoftime.com/cata/icons/large/inv_misc_stonetablet_04.jpg" alt="Will of Unbinding">
                </a>
            </div>
        </div>
        <div class="bottom-items">
            <div class="item" style="background-image: url('../../../assets/images/inventoryslot_mainhand.jpg');">
                <a href="https://cata.cavernoftime.com/item=71086" target="_blank">
                    <img class="border-purple" src="https://cdn.cavernoftime.com/cata/icons/large/stave_2h_tarecgosa_e_01stagefinal.jpg" alt="Dragonwrath, Tarecgosa's Rest">
                </a>
            </div>
            <div class="item" style="background-image: url('../../../assets/images/inventoryslot_offhand.jpg');"></div>
            <div class="item" style="background-image: url('../../../assets/images/inventoryslot_shoulder.jpg');">
                <a href="https://cata.cavernoftime.com/item=78392" target="_blank">
                    <img class="border-purple" src="http://cdn.cavernoftime.com/cata/icons/large/inv_wand_1h_deathwingraid_d_01.jpg" alt="Finger of Zon'ozz">
                </a>
            </div>
        </div>
    </div>
    <hr>
    <div class="details">
        <h2>Details</h2>
        <div class="item-icon-armorer">
            <img src="../../../assets/images/icons/class-warlock.png" alt="Warlock">
            <a class="link">Warlock</a>
            <img src="../../../assets/images/icons/Spell_Shadow_RainOfFire.png" alt="Destruction">
            <a class="link">Destruction</a>
        </div>
        <div class="item-icon-armorer" style="flex-direction: column;">
            <span>Difficulty:</span>
            <div class="bg-light-grey" style="width: 100%;">
                <div class="bg-red" style="height:8px;width:80%"></div>
            </div>
        </div>
        <div class="item-icon-armorer">
            <div class="item-icon-armorer" style="flex-direction: column;">
                <span>Best races:</span>
                <div>
                    <a href="https://www.wowhead.com/troll" class="link" target="_blank">Troll</a>, 
                    <a href="https://www.wowhead.com/orc" class="link" target="_blank">Orc</a>
                </div>
            </div>
            <div class="item-icon-armorer" style="flex-direction: column;">
                <span>Expansion:</span>
                <div>
                    <a href="#" class="link" target="_blank">Cataclysm</a>
                </div>
            </div>
        </div>
    </div>
</main>
<app-video-guide></app-video-guide>