<div class="container">
    <h2 style="text-align: center">Introduction</h2>
    <p>
        Welcome to the Destruction Warlock guide. Here you will learn the key concepts to improve your performance in
        Raids and Dungeons.
    </p>
    <p>
        The Destruction Warlock is a caster class, this means that our attacks will be ranged. Also, the appropriate
        equipment for this class is cloth.
    </p>
    <p>
        With this principle, the attributes we should look for in our equipment are the following:
    </p>
    <app-statistics-priority></app-statistics-priority>
    <a class="button" href="#" download>Download Addon to reforge</a>
</div>