<section class="card">
    <h2 class="card-title">Talents</h2>
    <p>
        Talents are fundamental to define our role as DPS, Tank or Healer, that is why some spells, depending on the branch, can be differentiated in PVE (Player vs. Environment) or PVP (Player vs. Player). In addition, there are also talents that will help us more in dungeons than in raids, that is why depending on the situation we can use one or another talent, in this way:
    </p>
    <div>
        <h2 class="card-subtitle">Talents for raids</h2>
        <div class="flex-column mb-3">
            <img src="../../../assets/images/talents/warlock/raids.png" alt="Talents warlock for raid">
            <div class="flex-column">
                <h2 class="card-subtitle-2">Why is this used?</h2>
                <p>
                    In this combination of talents we seek to maximize all damage to single and dual targets. In addition, we will not use talents to control masses, on the contrary, we will only use talents to increase our damage as I mentioned before and also to be able to endure more in long fights such as raid bosses.
                </p>
                <a class="button" href="https://talents.ice-wow.eu/eng/?WL#003.16-3202.14-3320202312221302201!13,24,32,10,23,33,26,15,16" target="_blank">View complete</a>
            </div>
        </div>
        
        <h2 class="card-subtitle">Talents for dungeons</h2>
        <div class="flex-column">
            <img src="../../../assets/images/talents/warlock/dungeons.png" alt="Talents warlock for dungeons">
            <div class="flex-column">
                <h2 class="card-subtitle-2">Why is this used?</h2>
                <p>
                    The difference between dungeon talents and raid talents is that in dungeon talents we seek to give benefit to our group with stuns to groups of many enemies and providing a little more personal healing to the warlock, however, these talents with good equipment are not necessary most of the time, that is why we could choose to use raid talents.
                </p>
                <a class="button" href="https://talents.ice-wow.eu/eng/?WL#001.16-32021.13-3320202312221312201!13,24,32,10,23,33,26,15,16" target="_blank">View complete</a>
            </div>
        </div>
    </div>
</section>
