<section class="card">
    <h2 class="card-title">Talents</h2>
    <p>
        Talents are fundamental to define our role as DPS, Tank or Healer, that is why some spells, depending on the branch, can be differentiated in PVE (Player vs. Environment) or PVP (Player vs. Player). In addition, there are also talents that will help us more in dungeons than in raids, that is why depending on the situation we can use one or another talent, in this way:
    </p>
    <div *ngFor="let talents of data">
        <h2 class="card-subtitle">{{talents.title}}</h2>
        <div class="flex-column mb-3">
            <img src={{talents.source_image}} alt="Talents warlock for raid">
            <div class="flex-column">
                <h2 class="card-subtitle-2">{{talents.subtitle}}</h2>
                <p>
                    {{talents.description}}
                </p>
                <a class="button" href={{talents.link}} target="_blank">View complete</a>
            </div>
        </div>
    </div>
</section>
