<main>
    <h2 class="recommended-title">Recommended guides</h2>

    <div class="flex-column">
        <div class="recommended-item card">
            <iframe class="video-box" src="https://www.youtube.com/embed/L2DA0KrByVk" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <div class="recommended-content">
                <h3>
                    PVE Destruction Warlock Guide!
                </h3>
                <p>
                    A complete guide that includes talents, rotations, equipment, tips, and much more for you to get the
                    most out of your class.
                </p>
                <a [routerLink]="['/guide']" class="button">
                    View complete notes
                </a>
            </div>
        </div>

        <div class="recommended-item card">
            <iframe class="video-box" src="https://www.youtube.com/embed/axAgP-V_LSY" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <div class="recommended-content">
                <h3>
                    PVE Shadow Priest Guide!
                </h3>
                <p>
                    A complete guide that includes talents, rotations, equipment, tips, and much more for you to get the
                    most out of your class.
                </p>
                <a [routerLink]="['/guide']" class="button">
                    View complete notes
                </a>
            </div>
        </div>
    </div>

</main>