<main>
    <h2 class="recommended-title">Recommended guides</h2>

    <div class="flex-column" *ngFor="let guides of guides">
        <div class="recommended-item card">
            <iframe class="video-box" [src]="getTrustResourceUrl('https://youtu.be/L2DA0KrByVk')" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <div class="recommended-content">
                <h3>
                    {{guides.title}}
                </h3>
                <p>
                    {{guides.description}}
                </p>
                <a [routerLink]="['/guide/' + guides.id]" class="button">
                    View complete notes
                </a>
            </div>
        </div>
    </div>
</main>