$color-primary: #ae0218;
$color-secondary: #FFD100;
$color-dark: #28150f;

$color-purple: #a335ee;
$color-blue: #0070dd;
$color-cyan: #72d5ff;
$color-white: #FFFFFF;
$color-gray: #dddddd;
$color-green: #1eff00;
$color-yellow: #ffff98;